h1{
  text-shadow: 2px 2px #FF0000;
  color: yellow;

  font-family: 'Gloria Hallelujah',cursive;
  font-size: 42px;
}
body{
  background-color: yellow;
}
h2{
  text-shadow: 2px 2px #FF0000;
  font-family: 'Gloria Hallelujah',cursive;
  font-size: 30px;

}

#paragraph {
  float: right;
  text-align: center;
  
}
h3{
  font-family: 'Lato', sans-serif;
}
